In [1]:
import bs4 as bs
import datetime as dt
import os
import pandas as pd
import numpy as np
import pandas_datareader.data as web
import matplotlib.pyplot as plt
from matplotlib import style
import glob
%matplotlib inline
style.use('ggplot')

In [2]:
tickers = pd.read_csv('tickers_new.csv')
ticker_list = tickers['ticker'].values.tolist()
company_list = tickers['company'].values.tolist()
sector_list = tickers['sector'].values.tolist()

#### Plug in both company name and sector for each company ticket

In [3]:
Y = []
for symbols,company,sector in zip(ticker_list,company_list,sector_list):
    df = pd.read_csv(f'stock_csvs/stock_pup_{symbols}.csv')
    df['symbol'] = symbols
    df['company'] = company
    df['sector']  = sector
    cols = df.columns.tolist()
    cols = cols[-3:] + cols[:-3]
    df = df[cols]
    Y.append(df)

In [4]:
fund_stocks = pd.concat(Y, sort = False)

In [5]:
fund_stocks.shape

(62850, 44)

#### Quarter End to Date Time

In [6]:
# Quarter End to Date time
fund_stocks['Quarter end'] = pd.to_datetime(fund_stocks['Quarter end'])
fund_stocks.set_index("Quarter end", inplace=True)

#### Change date from 2000 to current year

In [7]:
#2000 to current year
five_yr_fstock = fund_stocks['2000':]

In [8]:
#convert strings into numeric integers
five_yr_fstock = five_yr_fstock.apply(pd.to_numeric, errors='ignore')

#### create unmatched companies in new dataframe

In [9]:
### assign variable to unmatch
nomatch_companies = five_yr_fstock[five_yr_fstock['company'] == 'nomatch']

#### Create a new data frame with nomatched companies

In [10]:
## assign variable to matched company and sector
company_fund = five_yr_fstock[five_yr_fstock['company'] != 'nomatch']

In [11]:
# 135 companies were not matched to finviz company
nomatch_companies.groupby('symbol')['company'].nunique().value_counts()

1    189
Name: company, dtype: int64

In [12]:
# 566 companies were matched to finviz company
company_fund.groupby('company')['symbol'].nunique().value_counts()

1    566
Name: symbol, dtype: int64

#### replace all 0's and None to nan's

In [13]:
company_fund = company_fund.replace(to_replace='0', value= np.nan)

In [14]:
company_fund = company_fund.replace(to_replace='None', value= np.nan )

In [15]:
company_fund = company_fund.apply(pd.to_numeric, errors='ignore')

In [16]:
company_fund['P/E ratio'].fillna(0, inplace=True)

In [17]:
company_fund.fillna(0, inplace = True)

#### Assigning reported_pe for approiate companies

In [18]:
company_fund['reported_pe'] = company_fund['P/E ratio'].apply(lambda x: 1 if x != 0 else 0)

In [19]:
company_fund['reported_pe'].value_counts()

1    35178
0     5388
Name: reported_pe, dtype: int64

#### Assigning reported_earnings for appropiate companies

In [20]:
company_fund['reported_earnings'] = company_fund['Earnings'].apply(lambda x: 1 if x != 0 else 0)

In [21]:
company_fund['reported_earnings'].value_counts()

1    40414
0      152
Name: reported_earnings, dtype: int64

In [38]:
company_fund['growth'] = company_fund['P/E ratio'].apply(lambda x: 1 if x == 0 or x >= 25 else 0)

In [40]:
company_fund['growth'].value_counts()

0    24024
1    16542
Name: growth, dtype: int64

In [110]:
company_fund[company_fund['symbol'] == 'ARRS']

,Quarter end,symbol,company,sector,Shares,Shares split adjusted,Split factor,Assets,Current Assets,Liabilities,...,Dividend payout ratio,Long-term debt to equity ratio,Equity to assets ratio,Net margin,Asset turnover,Free cash flow per share,Current ratio,reported_pe,reported_earnings,growth
4224,2018-12-31,ARRS,ARRIS International plc,Technology,174116131,174116131,1.0,7.327869e+09,3.112639e+09,4.322021e+09,...,0.0,0.6793,0.4083,0.0169,0.92,1.35,1.5818,1,1,1
4225,2018-09-30,ARRS,ARRIS International plc,Technology,173328693,173328693,1.0,7.186605e+09,2.843385e+09,4.233095e+09,...,0.0,0.6987,0.4089,0.0122,0.91,1.29,1.5381,1,1,1
4226,2018-06-30,ARRS,ARRIS International plc,Technology,180330719,180330719,1.0,7.401524e+09,2.973463e+09,4.292220e+09,...,0.0,0.6706,0.4179,0.0182,0.90,0.61,1.5855,1,1,1
4227,2018-03-31,ARRS,ARRIS International plc,Technology,186263077,186263077,1.0,7.366488e+09,2.832112e+09,4.209114e+09,...,0.0,0.6670,0.4265,0.0175,0.89,0.49,1.6516,1,1,1
4228,2017-12-31,ARRS,ARRIS International plc,Technology,185238691,185238691,1.0,7.624257e+09,2.913540e+09,4.440223e+09,...,0.0,0.6679,0.4156,0.0139,0.88,-0.50,1.5071,1,1,1
4229,2017-09-30,ARRS,ARRIS International plc,Technology,187021231,187021231,1.0,7.664287e+09,3.569462e+09,4.437018e+09,...,0.0,0.6620,0.4164,0.0253,0.88,0.48,1.8279,1,1,1
4230,2017-06-30,ARRS,ARRIS International plc,Technology,187536426,187536426,1.0,7.510535e+09,3.334857e+09,4.368462e+09,...,0.0,0.6876,0.4133,0.0193,0.88,1.20,1.7926,1,1,1
4231,2017-03-31,ARRS,ARRIS International plc,Technology,187781876,187781876,1.0,7.354731e+09,3.082491e+09,4.225726e+09,...,0.0,0.6981,0.4205,0.0271,0.88,1.21,1.8252,1,1,1
4232,2016-12-31,ARRS,ARRIS International plc,Technology,190227443,190227443,1.0,7.758362e+09,3.280072e+09,4.531625e+09,...,0.0,0.6836,0.4110,0.0027,0.90,0.04,1.7883,0,1,1
4233,2016-09-30,ARRS,ARRIS International plc,Technology,189684048,189684048,1.0,7.651816e+09,3.049712e+09,4.591412e+09,...,0.0,0.7286,0.3947,0.0000,0.91,1.43,1.7396,0,1,1
4234,2016-06-30,ARRS,ARRIS International plc,Technology,190675080,190675080,1.0,7.539853e+09,2.855190e+09,4.536003e+09,...,0.0,0.7502,0.3927,0.0000,0.95,1.28,1.6917,0,1,1
4235,2016-03-31,ARRS,ARRIS International plc,Technology,189923666,189923666,1.0,7.313036e+09,2.526437e+09,4.406081e+09,...,0.0,0.7832,0.3914,0.0000,0.99,-1.23,1.6537,1,1,1
4236,2015-12-31,ARRS,ARRIS International plc,Technology,195192022,195192022,1.0,4.523516e+09,2.110203e+09,2.682555e+09,...,0.0,0.8341,0.3966,0.0192,1.06,0.54,2.0839,1,1,0
4237,2015-09-30,ARRS,ARRIS International plc,Technology,146655682,146655682,1.0,4.513240e+09,2.118442e+09,2.722389e+09,...,0.0,0.8761,0.3858,0.0514,1.11,1.36,2.0783,1,1,0
4238,2015-06-30,ARRS,ARRIS International plc,Technology,146590746,146590746,1.0,4.558675e+09,2.083161e+09,2.779905e+09,...,0.0,0.8908,0.3787,0.0551,1.16,0.40,2.0090,1,1,0
4239,2015-03-31,ARRS,ARRIS International plc,Technology,145795167,145795167,1.0,4.472786e+09,2.077969e+09,2.784157e+09,...,0.0,0.8913,0.3775,0.0575,1.22,-0.57,1.9278,1,1,0
4240,2014-12-31,ARRS,ARRIS International plc,Technology,145161490,145161490,1.0,4.365645e+09,1.917272e+09,2.674884e+09,...,0.0,0.8679,0.3873,0.0615,1.23,0.74,1.8985,1,1,1
4241,2014-09-30,ARRS,ARRIS International plc,Technology,144777301,144777301,1.0,4.305244e+09,1.848388e+09,2.815135e+09,...,0.0,0.9983,0.3461,0.0299,1.02,0.46,1.6475,1,1,1
4242,2014-06-30,ARRS,ARRIS International plc,Technology,144743264,144743264,1.0,4.330820e+09,1.806600e+09,2.911904e+09,...,0.0,1.0626,0.3276,0.0285,0.77,1.43,1.5321,1,1,1
4243,2014-03-31,ARRS,ARRIS International plc,Technology,143749515,143749515,1.0,4.345029e+09,1.751582e+09,2.984563e+09,...,0.0,1.2332,0.3131,0.0029,0.50,0.15,1.6224,0,1,1
4244,2013-12-31,ARRS,ARRIS International plc,Technology,142397380,142397380,1.0,4.322007e+09,1.678044e+09,3.003020e+09,...,0.0,1.2821,0.3052,0.0000,0.30,1.21,1.5324,0,1,1
4245,2013-09-30,ARRS,ARRIS International plc,Technology,138305785,138305785,1.0,4.585954e+09,1.865029e+09,3.289855e+09,...,0.0,1.4065,0.2826,0.0000,0.28,0.03,1.4954,0,1,1
4246,2013-06-30,ARRS,ARRIS International plc,Technology,138158497,138158497,1.0,4.935209e+09,2.205165e+09,3.667440e+09,...,0.0,1.4498,0.2569,0.0000,0.27,2.02,1.4782,1,1,1
4247,2013-03-31,ARRS,ARRIS International plc,Technology,137791617,137791617,1.0,1.467566e+09,1.013118e+09,5.143630e+08,...,0.0,0.0000,0.6495,0.0891,0.26,0.32,2.3368,1,1,1
4248,2012-12-31,ARRS,ARRIS International plc,Technology,114487014,114487014,1.0,1.405894e+09,9.198920e+08,4.455060e+08,...,0.0,0.0000,0.6831,0.1602,0.24,0.04,2.4814,0,1,1
4249,2012-09-30,ARRS,ARRIS International plc,Technology,113371897,113371897,1.0,1.382695e+09,9.143900e+08,4.539300e+08,...,0.0,0.2357,0.6717,0.0000,0.38,0.01,5.7224,0,1,1
4250,2012-06-30,ARRS,ARRIS International plc,Technology,113246428,113246428,1.0,1.367082e+09,8.775110e+08,4.562950e+08,...,0.0,0.2370,0.6662,0.0000,0.52,0.22,5.3847,0,1,1
4251,2012-03-31,ARRS,ARRIS International plc,Technology,113041028,113041028,1.0,1.370493e+09,8.631980e+08,4.717220e+08,...,0.0,0.2367,0.6558,0.0000,0.65,0.31,4.7973,0,1,1
4252,2011-12-31,ARRS,ARRIS International plc,Technology,115089175,115089175,1.0,1.360810e+09,8.595450e+08,4.446050e+08,...,0.0,0.2290,0.6733,0.0000,0.77,0.49,5.4451,1,1,1
4253,2011-09-30,ARRS,ARRIS International plc,Technology,117887217,117887217,1.0,1.418227e+09,9.231360e+08,4.105730e+08,...,0.0,0.2053,0.7105,0.0496,0.75,0.15,7.3312,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4265,2008-09-30,ARRS,ARRIS International plc,Technology,122847451,122847451,1.0,1.487266e+09,7.135130e+08,4.895000e+08,...,0.0,0.2770,0.6709,0.0440,0.74,0.33,5.3094,1,1,0
4266,2008-06-30,ARRS,ARRIS International plc,Technology,122758337,122758337,1.0,1.477691e+09,6.950280e+08,5.073860e+08,...,0.0,0.2851,0.6566,0.0494,0.76,0.04,4.7687,1,1,0
4267,2008-03-31,ARRS,ARRIS International plc,Technology,122571371,122571371,1.0,1.449956e+09,6.522140e+08,4.918690e+08,...,0.0,0.2888,0.6608,0.0641,0.80,0.20,4.7801,1,1,0
4268,2007-12-31,ARRS,ARRIS International plc,Technology,135141861,135141861,1.0,1.558490e+09,7.574960e+08,5.327230e+08,...,0.0,0.2698,0.6582,0.0991,0.83,0.36,4.0880,1,1,0
4269,2007-09-30,ARRS,ARRIS International plc,Technology,110197186,110197186,1.0,1.098242e+09,8.820690e+08,3.870850e+08,...,0.0,0.3881,0.6475,0.1627,0.93,-0.16,9.9254,1,1,0
4270,2007-06-30,ARRS,ARRIS International plc,Technology,110032839,110032839,1.0,1.071699e+09,8.628000e+08,3.948760e+08,...,0.0,0.4078,0.6315,0.1658,1.01,0.21,8.9432,1,1,0
4271,2007-03-31,ARRS,ARRIS International plc,Technology,109018580,109018580,1.0,1.036077e+09,8.272040e+08,3.900670e+08,...,0.0,0.4272,0.6235,0.1733,1.12,-0.06,9.0201,1,1,0
4272,2006-12-31,ARRS,ARRIS International plc,Technology,108018876,108018876,1.0,1.013557e+09,8.009520e+08,4.181360e+08,...,0.0,0.4635,0.5875,0.1596,1.28,0.57,6.4357,1,1,0
4273,2006-09-30,ARRS,ARRIS International plc,Technology,107818166,107818166,1.0,6.300370e+08,4.497060e+08,1.185590e+08,...,0.0,0.0000,0.8118,0.1121,1.46,0.10,4.4515,1,1,0
4274,2006-06-30,ARRS,ARRIS International plc,Technology,107375305,107375305,1.0,5.901850e+08,4.108920e+08,1.091070e+08,...,0.0,0.0000,0.8151,0.1064,1.50,0.27,4.5555,1,1,0
4275,2006-03-31,ARRS,ARRIS International plc,Technology,106920664,106920664,1.0,5.537610e+08,3.744170e+08,9.971300e+07,...,0.0,0.0000,0.8199,0.0914,1.48,0.28,4.6138,1,1,0
4276,2005-12-31,ARRS,ARRIS International plc,Technology,106432269,106432269,1.0,5.294030e+08,3.486200e+08,1.036860e+08,...,0.0,0.0000,0.8041,0.0757,1.42,0.31,4.0795,1,1,1
4277,2005-09-30,ARRS,ARRIS International plc,Technology,105422942,105422942,1.0,4.874270e+08,3.054950e+08,8.819600e+07,...,0.0,0.0000,0.8191,0.0460,1.36,-0.09,4.2719,1,1,1
4278,2005-06-30,ARRS,ARRIS International plc,Technology,103897410,103897410,1.0,4.588860e+08,2.769880e+08,8.788000e+07,...,0.0,0.0000,0.8085,0.0115,1.23,-0.12,3.9195,0,1,1
4279,2005-03-31,ARRS,ARRIS International plc,Technology,87928997,87928997,1.0,4.461980e+08,2.618680e+08,1.607890e+08,...,0.0,0.2628,0.6396,0.0000,1.14,0.06,3.8066,0,1,1
4280,2004-12-31,ARRS,ARRIS International plc,Technology,87717872,87717872,1.0,4.506780e+08,2.652220e+08,1.693770e+08,...,0.0,0.2666,0.6242,0.0000,1.08,0.07,3.4180,0,1,1
4281,2004-09-30,ARRS,ARRIS International plc,Technology,87667409,87667409,1.0,4.589790e+08,2.716850e+08,1.756740e+08,...,0.0,0.2647,0.6173,0.0000,1.08,-0.05,3.0727,0,1,1
4282,2004-06-30,ARRS,ARRIS International plc,Technology,87267587,87267587,1.0,4.523520e+08,2.585280e+08,1.654190e+08,...,0.0,0.2614,0.6343,0.0000,1.04,0.04,3.4028,0,1,1
4283,2004-03-31,ARRS,ARRIS International plc,Technology,86958775,86958775,1.0,4.524390e+08,2.496530e+08,1.614550e+08,...,0.0,0.2577,0.6431,0.0000,0.98,0.07,3.4175,0,1,1
4284,2003-12-31,ARRS,ARRIS International plc,Technology,86695957,86695957,1.0,4.518590e+08,2.351030e+08,2.024780e+08,...,0.0,0.5016,0.5519,0.0000,0.91,0.29,3.6492,0,1,1
4285,2003-09-30,ARRS,ARRIS International plc,Technology,75194277,75194277,1.0,4.616920e+08,2.315470e+08,2.056210e+08,...,0.0,0.4896,0.5546,0.0000,0.74,-0.06,2.8851,0,1,1
4286,2003-06-30,ARRS,ARRIS International plc,Technology,74882957,74882957,1.0,4.818170e+08,2.421990e+08,2.127430e+08,...,0.0,0.4651,0.5585,0.0000,0.79,0.02,2.7647,0,1,1
4287,2003-03-31,ARRS,ARRIS International plc,Technology,74850714,74850714,1.0,5.219960e+08,2.671530e+08,2.248450e+08,...,0.0,0.4219,0.5693,0.0000,0.85,-0.17,2.6855,0,1,1
4288,2002-12-31,ARRS,ARRIS International plc,Technology,74641555,74641555,1.0,5.634120e+08,3.016920e+08,1.285040e+08,...,0.0,0.0005,0.5687,0.0000,0.90,0.67,2.3506,0,1,1
4289,2002-09-30,ARRS,ARRIS International plc,Technology,82509456,82509456,1.0,7.493040e+08,3.860780e+08,2.258820e+08,...,0.0,0.0009,0.5494,0.0000,0.00,0.50,1.7122,0,1,1
4290,2002-06-30,ARRS,ARRIS International plc,Technology,82370342,82370342,1.0,7.601730e+08,3.849490e+08,2.438920e+08,...,0.0,0.0015,0.5356,0.0000,0.00,-0.05,1.5823,0,1,1
4291,2002-03-31,ARRS,ARRIS International plc,Technology,81761685,81761685,1.0,8.334710e+08,3.776020e+08,2.453600e+08,...,0.0,0.2407,0.5777,0.0000,0.00,0.28,2.9167,0,1,1
4292,2001-12-31,ARRS,ARRIS International plc,Technology,80518266,80518266,1.0,7.521150e+08,3.693240e+08,2.334620e+08,...,0.0,0.2774,0.5512,0.0000,0.00,0.36,3.1177,0,0,1
4293,2001-09-30,ARRS,ARRIS International plc,Technology,75150498,75150498,1.0,8.006510e+08,4.229640e+08,2.867560e+08,...,0.0,0.3437,0.5169,0.0000,0.00,0.30,2.9272,0,1,1
4294,2001-06-30,ARRS,ARRIS International plc,Technology,75169301,75169301,1.0,6.751050e+08,4.391610e+08,3.466510e+08,...,0.0,0.4673,0.4865,0.0000,0.00,0.00,2.2898,0,1,1

####  Categorize Sectors

In [41]:
company_fund['sector'].value_counts().unique

<bound method Series.unique of Services            7989
Financial           7601
Technology          5353
Consumer Goods      5072
Industrial Goods    4302
Basic Materials     4239
Healthcare          4065
Utilities           1945
Name: sector, dtype: int64>

In [24]:
company_fund = company_fund.reset_index()
sectors = pd.get_dummies(company_fund['sector'], prefix= 'sector')
companies = company_fund.merge(sectors, left_index=True , right_index= True)

In [28]:
companies.set_index("Quarter end", inplace=True)

In [129]:
companies.to_csv('/Users/flatironschool/UrPortfolio/companies.csv', index = True)

### Check Company Health And Growth Fundamentals

In [115]:
companies[['symbol','health_dtbr']]

            symbol  health_dtbr
Quarter end
2019-04-30       A            1
2019-01-31       A            1
2018-10-31       A            1
2018-07-31       A            1
2018-04-30       A            1
2018-01-31       A            1
2017-10-31       A            1
2017-07-31       A            1
2017-04-30       A            1
2017-01-31       A            1
2016-10-31       A            1
2016-07-31       A            1
2016-04-30       A            1
2016-01-31       A            1
2015-10-31       A            1
2015-07-31       A            1
2015-04-30       A            1
2015-01-31       A            1
2014-10-31       A            1
2014-07-31       A            1
2014-04-30       A            1
2014-01-31       A            1
2013-10-31       A            1
2013-07-31       A            1
2013-04-30       A            1
2013-01-31       A            1
2012-10-31       A            1
2012-07-31       A            1
2012-04-30       A            1
2012-01-31       A            1
...            ...          ...
2001-03-31    ZION            0
2000-12-31    ZION            0
2000-09-30    ZION            0
2000-06-30    ZION            0
2000-03-31    ZION            0
2019-03-31     ZTS            1
2018-12-31     ZTS            1
2018-09-30     ZTS            1
2018-06-30     ZTS            1
2018-03-31     ZTS            1
2017-12-31     ZTS            1
2017-10-01     ZTS            1
2017-07-02     ZTS            1
2017-04-02     ZTS            1
2016-12-31     ZTS            1
2016-10-02     ZTS            1
2016-07-03     ZTS            1
2016-04-03     ZTS            1
2015-12-31     ZTS            1
2015-09-27     ZTS            1
2015-06-28     ZTS            1
2015-03-29     ZTS            1
2014-12-31     ZTS            1
2014-09-28     ZTS            1
2014-06-29     ZTS            1
2014-03-30     ZTS            1
2013-12-31     ZTS            1
2013-09-29     ZTS            1
2013-06-30     ZTS            1
2013-03-31     ZTS            1

[40566 rows x 2 columns]

In [116]:
companies['Assets']/companies['Long-term debt']

Quarter end
2019-04-30    5.017798
2019-01-31    4.978865
2018-10-31    4.747638
2018-07-31    4.640912
2018-04-30    4.880000
2018-01-31    4.832222
2017-10-31    4.678512
2017-07-31    4.586896
2017-04-30    4.448391
2017-01-31    4.368479
2016-10-31    4.080544
2016-07-31    4.681598
2016-04-30    4.619105
2016-01-31    4.417423
2015-10-31    4.519033
2015-07-31    4.381269
2015-04-30    4.475845
2015-01-31    4.534982
2014-10-31    3.921434
2014-07-31    4.759285
2014-04-30    4.094319
2014-01-31    3.947310
2013-10-31    3.959244
2013-07-31    3.805257
2013-04-30    5.027066
2013-01-31    5.046423
2012-10-31    4.988636
2012-07-31    5.692532
2012-04-30    4.887331
2012-01-31    4.716952
                ...
2001-03-31         inf
2000-12-31         inf
2000-09-30         inf
2000-06-30         inf
2000-03-31         inf
2019-03-31    1.654454
2018-12-31    1.672668
2018-09-30    1.623816
2018-06-30    1.736226
2018-03-31    1.754138
2017-12-31    1.733495
2017-10-01    1.875606
2017-07-02    2.097876
2017-04-02    2.057289
2016-12-31    1.711952
2016-10-02    1.727110
2016-07-03    1.683763
2016-04-03    1.669579
2015-12-31    1.773023
2015-09-27    2.072536
2015-06-28    2.034536
2015-03-29    1.982732
2014-12-31    1.813615
2014-09-28    1.792147
2014-06-29    1.790774
2014-03-30    1.758100
2013-12-31    1.800659
2013-09-29    1.718561
2013-06-30    1.720055
2013-03-31    1.687363
Length: 40566, dtype: float64

In [74]:
companies['health_cr'] = companies['Current ratio'].apply(lambda x: 1 if x >= 1.5 and x <= 3.0 else 0)

In [75]:
companies['health_dtbr'] = companies['Long-term debt to equity ratio'].apply(lambda x: 1 if x >= .05 else 0)

In [76]:
companies['growth_roa'] = companies['ROA'].apply(lambda x: 1 if x >= .05 else 0)

In [77]:
companies['growth_roe'] = companies['ROE'].apply(lambda x: 1 if x >= .1 else 0)

In [78]:
companies['health_dyp'] = companies['Dividend payout ratio'].apply(lambda x: 1 if x >= .55 else 0)

In [81]:
companies.to_csv('/Users/flatironschool/UrPortfolio/companies.csv', index = True)